.height-ft {
    height: fit-content;
    padding-bottom: 10px;
}

.numeric-list {
    width: 87px;
    text-align: center;
    padding: 0 10px;
}

.page-item {
    user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.card-img-top {
    max-height: 222px;
    object-fit: cover;
}